.env
PRD.md
/.srv/*
!/.srv/custom.ini
/plugins/akismet
/plugins/hello.php
/plugins/wp-dummy-content-generator/*
/plugins/regenerate-thumbnails/*
/themes/twentytwentytwo
/themes/twentytwentythree
/themes/twentytwentyfour
/themes/twentytwentyfive
/themes/myclassicblog/html_template/*